<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gaorongyi.split.mapper.TestMapper">
    <sql id="insert_body">
        (id, name, create_time) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.name},#{item.createTime})
        </foreach>
    </sql>

    <insert id="batchInsert">
        insert into test_${index}
        <include refid="insert_body"/>
    </insert>

    <select id="list" resultType="cn.gaorongyi.split.entity.Test">
        select *
        from test_${index} limit #{pageSize}
    </select>

    <select id="selectSplitTableNames" resultType="java.lang.String">
        SHOW
        TABLES LIKE 'test%'
    </select>
</mapper>
